#  **Pandas Assingment-4**

(Based on IPL matches and deliveries dataset)


Matches- <a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


Deliveries- <a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import io
from google.colab import files

In [0]:
uploaded = files.upload()
df1 = pd.read_csv(io.StringIO(uploaded['matches.csv'].decode('utf-8')))
df1

Saving matches.csv to matches (1).csv

        id  season  ...         umpire2                  umpire3
0        1    2017  ...        NJ Llong                      NaN
1        2    2017  ...          S Ravi                      NaN
2        3    2017  ...       CK Nandan                      NaN
3        4    2017  ...   C Shamshuddin                      NaN
4        5    2017  ...             NaN                      NaN
..     ...     ...  ...             ...                      ...
751  11347    2019  ...        O Nandan                   S Ravi
752  11412    2019  ...     Nitin Menon                Ian Gould
753  11413    2019  ...             NaN                      NaN
754  11414    2019  ...  Bruce Oxenford  Chettithody Shamshuddin
755  11415    2019  ...       Ian Gould              Nigel Llong

[756 rows x 18 columns]

In [0]:
uploaded = files.upload()
df2 = pd.read_csv(io.StringIO(uploaded['deliveries.csv'].decode('utf-8')))
df2

Saving deliveries.csv to deliveries (1).csv

        match_id  inning  ... dismissal_kind    fielder
0              1       1  ...            NaN        NaN
1              1       1  ...            NaN        NaN
2              1       1  ...            NaN        NaN
3              1       1  ...            NaN        NaN
4              1       1  ...            NaN        NaN
...          ...     ...  ...            ...        ...
179073     11415       2  ...            NaN        NaN
179074     11415       2  ...            NaN        NaN
179075     11415       2  ...        run out  KH Pandya
179076     11415       2  ...            NaN        NaN
179077     11415       2  ...            lbw        NaN

[179078 rows x 21 columns]

In [0]:
#  Q1.- Make a pivot table of top 10 bowlers(in terms of wickets) with over(1-20) showing no. of wickets.  [Dificult-]

In [0]:
new=df2
new['wicket']=df2['dismissal_kind'].notnull()
new=new[new['wicket']==True]
best=new.groupby('bowler')['wicket'].sum().sort_values(ascending=False).head(10).index
new=new[new['bowler'].isin(best)]
new.pivot_table(index='bowler',columns='over',values='wicket',aggfunc='count')

over               1     2     3     4     5   ...    16    17    18    19    20
bowler                                         ...
A Mishra          1.0   NaN   NaN   4.0   1.0  ...  15.0   8.0   7.0   5.0   6.0
B Kumar          19.0   7.0  13.0   4.0   4.0  ...  12.0   8.0  16.0  20.0  24.0
DJ Bravo          NaN   1.0   2.0   3.0   1.0  ...  14.0   9.0  29.0  14.0  36.0
Harbhajan Singh   5.0   6.0   1.0   7.0   4.0  ...   8.0   9.0   6.0   4.0   1.0
PP Chawla         NaN   2.0   1.0   1.0   2.0  ...  12.0  11.0   7.0   2.0   7.0
R Ashwin          7.0   1.0   5.0   6.0  10.0  ...  15.0   5.0   9.0   1.0   2.0
R Vinay Kumar     2.0   6.0   4.0  10.0   5.0  ...   4.0   8.0  10.0  11.0  29.0
SL Malinga       12.0  12.0   2.0   3.0   5.0  ...  18.0  14.0  29.0  36.0  25.0
SP Narine         NaN   2.0   2.0   3.0  10.0  ...   9.0  12.0  14.0  15.0  15.0
UT Yadav          6.0   8.0   7.0  13.0   5.0  ...   9.0   8.0  11.0  12.0  22.0

[10 rows x 20 columns]

In [0]:
# Q2.- Make a function for batting profile of any batsman:-                                              [Medium+]

Ex- 

V Kohli:

Innings:  

Total Runs: 

No. of MOM(Man of the match):

No. of boundries:

In [0]:
def profile(batsman_name):
  x=df2[df2['batsman']==batsman_name]
  print(batsman_name)
  print("Innings: ",x.drop_duplicates(subset=['match_id'],keep='first').shape[0])
  print("Total Runs: ",x['batsman_runs'].sum())
  print("No. of MOM(Man Of the match): ",df1[df1['player_of_match']==batsman_name].shape[0])
  print("No. of boundries: ",x[x['batsman_runs']==4].shape[0] + x[x['batsman_runs']==6].shape[0])

In [0]:
profile('V Kohli')

V Kohli
Innings:  169
Total Runs:  5434
No. of MOM(Man Of the match):  12
No. of boundries:  673

In [0]:
 # Q3.- Write a function to return top-4 batsman at a venue. Take venue as input.

In [0]:
def top_batsman(venue_name):
  mega=df1.merge(df2,left_on='id',right_on='match_id')
  x=mega[mega['venue']==venue_name]
  print(x.groupby('batsman').sum()['batsman_runs'].sort_values(ascending=False).head(4))

In [0]:
top_batsman('Eden Gardens')

batsman
G Gambhir     1407
RV Uthappa    1178
YK Pathan      863
AD Russell     719
Name: batsman_runs, dtype: int64

In [0]:
# Q4.- No. of matches per season played in Mumbai.

In [0]:
venue=df1[df1['city']=='Mumbai']
venue['season'].value_counts(sort=False)

2008    10
2010    13
2011    16
2012     8
2013     8
2014     7
2015    11
2016     4
2017     8
2018     9
2019     7
Name: season, dtype: int64

In [0]:
# Q5. - Top-3 Player in terms of most no. of catches.

In [0]:
df2.groupby('dismissal_kind').get_group('caught')['fielder'].value_counts().head(3)

KD Karthik    109
SK Raina       99
MS Dhoni       98
Name: fielder, dtype: int64